.column_buttons {
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    margin-top: -32vw;
    margin-left: 30vw;
}

.column_btn {
    width: 40vw;
    background-color: #F1AD00;
    color: white;
    font-size: 2vw;
    padding: 12vw 24vh;
    border: none;
    cursor: pointer;
    border-radius: 2vw;
    padding: .8em 1em calc(.8em + 3px);
}

.column_buttons div {
    margin-top: 2vh;
}

.btn_prev {
    border-radius: 2vw;
    width: 20vw;
    background-color: #6AB8FF;
    color: white;
    margin-left: -20vw;
    font-size: 2vw;
    border: none;
    cursor: pointer;
    border-radius: 2vw;

}

.column_btn:hover {
    background-color: #1CF624;
}

.btn_prev:hover {
    background-color: #1CF624;
}