<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Intelligent-planning-Apoikismos/Knowlage editor/Edit,create action robot</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/edit_create_actions_robot.css">
    <script type="text/javascript" src="/eel.js"></script>
</head>
<body>
<p class="background_img">
    <img class="tree_img" src="../img/tree_background.png">
    <img class="lamp_img" src="../img/lamp_background.png">
<div class="controls">
    <div class="header">Редактирование/Создание действия робота</div>
    <div class="block_label">Предусловие действия</div>
    <div class="action_name">
        Название действия
        <input type="text" id="inputtext">
    </div>
    <div class="top_block">
        <div class="column_tables left_tables">
            <div>
                <div class="scroll-table">
                    <table>
                        <thead>
                        <tr>
                            <th>Материалы</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="scroll-table-body table_blur">
                    <table>
                        <tbody>
                        {% for material in materials %}
                        <tr onclick='select_row(this)'>
                            <td>
                                {{ material.name }}
                            </td>
                            <td>
                                {{ material.description }}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <div class="scroll-table">
                    <table>
                        <thead>
                        <tr>
                            <th>Инструменты</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="scroll-table-body table_blur">
                    <table>
                        <tbody>
                        {% for instrument in instruments %}
                        <tr onclick='select_row(this)'>
                            <td>
                                {{ instrument.name }}
                            </td>
                            <td>
                                {{ instrument.description }}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <div class="scroll-table">
                    <table>
                        <thead>
                        <tr>
                            <th>Постройки</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="scroll-table-body table_blur">
                    <table>
                        <tbody>
                        {% for building in buildings %}
                        <tr onclick='select_row(this)'>
                            <td>
                                {{ building.name }}
                            </td>
                            <td>
                                {{ building.description }}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="button_push_column">
            <button class="btn_push" onclick="document.location='knowlage_editor.html'">>
            </button>
            <button class="btn_push" onclick="document.location='knowlage_editor.html'">>>
            </button>
            <button class="btn_push" onclick="document.location='knowlage_editor.html'"><
            </button>
            <button class="btn_push" onclick="document.location='knowlage_editor.html'"><<
            </button>
        </div>
        <div class="column_tables right_tables">
            <div>
                <div class="scroll-table">
                    <table>
                        <thead>
                        <tr>
                            <th>Материалы</th>
                            <th>Количество единиц ресурсов</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="scroll-table-body table_blur">
                    <table>
                        <tbody>

                        <tr>
                            <td>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <div class="scroll-table">
                    <table>
                        <thead>
                        <tr>
                            <th>Инструменты</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="scroll-table-body table_blur">
                    <table>
                        <tbody>

                        <tr>
                            <td>
                                tom
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <div class="scroll-table">
                    <table>
                        <thead>
                        <tr>
                            <th>Постройки</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="scroll-table-body table_blur">
                    <table>
                        <tbody>

                        <tr>
                            <td>
                                tom
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="block_label">Результаты действия</div>
    <div class="bottom_clock">
        <div class="column_tables left_tables">
            <div>
                <div class="scroll-table">
                    <table>
                        <thead>
                        <tr>
                            <th>Материалы</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="scroll-table-body table_blur">
                    <table>
                        <tbody>
                        {% for material in materials %}
                        <tr onclick='select_row(this)'>
                            <td>
                                {{ material.name }}
                            </td>
                            <td>
                                {{ material.description }}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <div class="scroll-table">
                    <table>
                        <thead>
                        <tr>
                            <th>Инструменты</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="scroll-table-body table_blur">
                    <table>
                        <tbody>
                        {% for instrument in instruments %}
                        <tr onclick='select_row(this)'>
                            <td>
                                {{ instrument.name }}
                            </td>
                            <td>
                                {{ instrument.description }}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <div class="scroll-table">
                    <table>
                        <thead>
                        <tr>
                            <th>Постройки</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="scroll-table-body table_blur">
                    <table>
                        <tbody
                                {% for building in buildings %}
                        <tr onclick='select_row(this)'>
                            <td>
                                {{ building.name }}
                            </td>
                            <td>
                                {{ building.description }}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="button_push_column">
            <button class="btn_push" onclick="document.location='knowlage_editor.html'">>
            </button>
            <button class="btn_push" onclick="document.location='knowlage_editor.html'">>>
            </button>
            <button class="btn_push" onclick="document.location='knowlage_editor.html'"><
            </button>
            <button class="btn_push" onclick="document.location='knowlage_editor.html'"><<
            </button>
        </div>
        <div class="column_tables right_tables">
            <div>
                <div class="scroll-table">
                    <table>
                        <thead>
                        <tr>
                            <th>Материалы</th>
                            <th>Количество единиц ресурсов</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="scroll-table-body table_blur">
                    <table>
                        <tbody>

                        <tr>
                            <td>
                                tom
                            </td>
                            <td>
                                <input type="text">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <div class="scroll-table">
                    <table>
                        <thead>
                        <tr>
                            <th>Инструменты</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="scroll-table-body table_blur">
                    <table>
                        <tbody>

                        <tr>
                            <td>
                                tom
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <div class="scroll-table">
                    <table>
                        <thead>
                        <tr>
                            <th>Постройки</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="scroll-table-body table_blur">
                    <table>
                        <tbody>

                        <tr>
                            <td>
                                tom
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="operation_line">
        <button class="btn_prev" onclick="document.location='posible_action_robot.html'">Назад</button>
        <input type="image" class="img_button" src="../img/undo.png" alt="undo button">
        <input type="image" class="img_button" src="../img/redo.png" alt="redo button">
        <button class="operation_btn">Сохранить</button>
    </div>
</div>
</p>
</body>
</html>