<!DOCTYPE html>
<html>
<head>
    <title>Intelligent-planning-Apoikismos/Knowlage editor/Posible actions robot</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/common_actions_robot.css">
    <script type="text/javascript" src="/eel.js"></script>
</head>
<body>
<div class="header">Возможные действия робота</div>
<p class="background_img">
    <img class="tree_img" src="../img/tree_background.png">
    <img class="lamp_img" src="../img/lamp_background.png">
<div class="controls">
    <div class="search_bar">
        <form name="search">
            <p><b>Поиск:</b><br>
                <input id="search-text" type="text" placeholder="Название или описание" onkeyup="tableSearch()">
            </p>
        </form>
    </div>

    <div class="scroll-table">
        <table>
            <thead>
            <tr>
                <th>Название</th>
                <th>Предусловие</th>
                <th>Результат</th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="scroll-table-body table_blur">
        <table id="info-table">
            <tbody>
            {% for act in action_list %}
            <tr onclick='select_row(this)'>
                <td>
                    {{ act[0][1] }}
                </td>
                <td>
                    {{ act[0][2:8] }}
                </td>
                <td>
                    {{ act[0][9:16] }}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="operation_line">
        <input type="image" class="img_button" src="../img/undo.png" alt="undo button">
        <input type="image" class="img_button" src="../img/redo.png" alt="redo button">
        <button class="operation_btn" onclick="document.location='edit_create_actions_robot.html'">Редактировать
        </button>
        <button class="operation_btn"
                onclick="eel.load_creation_action();document.location='edit_create_actions_robot.html'">Создать
        </button>
        <button class="operation_btn" onclick="delete_selected()">Удалить</button>
        <button class="operation_btn">Сохранить</button>
    </div>
    <div id="button_prev">
        <button class="btn_prev" onclick="document.location='../knowlage_editor.html'">Назад</button>
    </div>
</div>
</p>
<script>
    let selected_row = null;

    function select_row(row) {
        if (selected_row != null) selected_row.className = '';
        selected_row = row;
        if (selected_row != null) selected_row.className = 'selected';
    }

    function tableSearch() {
        let phrase = document.getElementById('search-text');
        let table = document.getElementById('info-table');
        let regPhrase = new RegExp(phrase.value, 'i');
        let flag = false;
        for (let i = 0; i < table.rows.length; i++) {
            flag = false;
            for (let j = table.rows[i].cells.length - 1; j >= 0; j--) {
                flag = regPhrase.test(table.rows[i].cells[j].innerHTML);
                if (flag) break;
            }
            if (flag) {
                table.rows[i].style.display = "";
            } else {
                table.rows[i].style.display = "none";
            }

        }
    }

    function delete_selected() {
        let row = document.getElementsByClassName('selected');
        let title = row[0].children[0].textContent;
        let description = row[0].children[1].textContent;
        alert(title + " успешно удалено!");
        row[0].parentNode.removeChild(row[0]);
    }
</script>
</body>
</html>