<!DOCTYPE html>
<html>
<head>
    <title>Intelligent-planning-Apoikismos/Knowlage editor/Posible actions robot</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/common_actions_robot.css">
    <script type="text/javascript" src="/eel.js"></script>
</head>
<body>
<div class="header">Возможные действия робота</div>
<p class="background_img">
    <img class="tree_img" src="img/tree_background.png">
    <img class="lamp_img" src="img/lamp_background.png">
<div class="controls">
    <div class="search_bar">
        <form name="search">
            <p><b>Поиск:</b><br>
                <input type="text" id="inputtext">
                <input type="submit" value="Поиск" class="btnsearch">
                <input type="reset" value="Очистить" class="btnsearch">
            </p>
        </form>
    </div>

    <div class="scroll-table">
        <table>
            <thead>
            <tr>
                <th>Название</th>
                <th>Предусловие</th>
                <th>Результат</th>
            </tr>
            </thead>
        </table>
    </div>
    {% set action_list = [('Построить фундамент','Материалы - {Бетон 10 ед.} \n Инструменты-{лопата}
    Постройки-{}','Материалы-{Бетон -10 ед.},Инструменты-{},Постройки-{Фундамент жилого здания}')] %}
    <div class="scroll-table-body table_blur">
        <table>
            <tbody>
            {% for act in action_list %}
            <tr>
                <td>
                    {{ act[0] }}
                </td>
                <td>
                    {{ act[1] }}
                </td>
                <td>
                    {{ act[1] }}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="operation_line">
        <input type="image" class="img_button" src="img/undo.png" alt="undo button">
        <input type="image" class="img_button" src="img/redo.png" alt="redo button">
        <button class="operation_btn" onclick="document.location='edit_create_actions_robot.html'">Редактировать
        </button>
        <button class="operation_btn" onclick="document.location='edit_create_actions_robot.html'">Создать</button>
        <button class="operation_btn">Удалить</button>
        <button class="operation_btn">Сохранить</button>
    </div>
    <div id="button_prev">
        <button class="btn_prev" onclick="document.location='knowlage_editor.html'">Назад</button>
    </div>
</div>
</p>
</body>
</html>